@model BlackJack.Models.Deck

@{
    ViewBag.Title = "Index";
}

<h3>Card Dealer</h3>

<br />

<p>You have @Model.remaining cards remaining in your deck.</p>

<br />
<br />

<p>
    <a class="btn btn-default" href="@Url.Action("PlayGame", new { deck_id = Model.deck_id })" ;>Deal a card</a>
</p>