
@{
    ViewBag.Title = "Lose";
}

<h2>You Lost!</h2>

<br />

<p>
    <br />

    <a class="btn btn-default" href="@Url.Action("Index", "Card")"><br />Play Black Jack<br /><br /></a>

    <br />

</p>
