@model BlackJack.Models.Deck

@{
    ViewBag.Title = "Black Jack Game";
}

<div class="row">

    <div class="col-md-4">

    </div>

    <div class="col-md-4">

        <br />
        <br />

        <p>
            <br />

            <a class="btn btn-default" href="@Url.Action("Index", "Card")"><br />Play Black Jack<br /><br /></a>

            <br />

        </p>

    </div>

    <div class="col-md-4">

    </div>

</div>